body {
    background-color: #202325;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    max-width:49em;
    margin:1em auto;
}

input{
    display:none;
}

.inner{
    width:500%;
    line-height:0;
}

article{
    max-height: 37em;
    width:20%;
    float:left;
}

article img{
    width:100%;
    max-height: 37em;
    object-fit: fill;
}

.slider-dot-control{
    width:100%;
    justify-content: flex-end;
    margin-top: 2em;
    display: flex;
}

.slider-dot-control label{
    cursor:pointer;
    border-radius:50%;
    display:block;
    width:1.2em;
    height:1.2em;
    background:#72adff;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    border: 10px solid transparent;
    background-clip: padding-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.labels {
    display: flex;
}

.slider-dot-control label:nth-child(4) {
    margin-right: -0.6em;
}
.slider-dot-control label:hover{
    background:#fff;
    background-clip: padding-box;
}

.slider-wrapper{
    width:100%;
    overflow-x:hidden;
    border-radius:5px;
    box-shadow:1px 1px 4px #666;
    background:#fff;
    background:#fcfff4;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-transition:all .5s ease-out;
    -moz-transition:all .5s ease-out;
    transition:all .5s ease-out;
}

.slider-wrapper .inner{
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-transition:all .8s cubic-bezier(.77,0,.175,1);
    -moz-transition:all .8s cubic-bezier(.77,0,.175,1);
    transition:all .8s cubic-bezier(.77,0,.175,1);
}

#slide1:checked~.slider-dot-control label:nth-child(1),
#slide2:checked~.slider-dot-control label:nth-child(2),
#slide3:checked~.slider-dot-control label:nth-child(3),
#slide4:checked~.slider-dot-control label:nth-child(4){
    background-color: #202325;
    box-shadow: 0px 0px 1px 2px #72adff inset;
}

label::after {
    content: "";
    color: #fff;
    display: inline-block;
    opacity: 0;
    margin-left: -340px;
    font-size: 17px;
}

#slide1:checked~.slider-dot-control label:nth-child(1)::after,
#slide2:checked~.slider-dot-control label:nth-child(2)::after,
#slide3:checked~.slider-dot-control label:nth-child(3)::after,
#slide4:checked~.slider-dot-control label:nth-child(4)::after {
    opacity: 1;
    transition: 0.8s;
}

#slide1:checked~.slider-dot-control label:nth-child(1)::after{
    content: "futile hopes";
    margin-left: -646px;
    
}

#slide2:checked~.slider-dot-control label:nth-child(2)::after{
    content: "life is tough";
    margin-left: -686px;
}

#slide3:checked~.slider-dot-control label:nth-child(3)::after{
    content: "me completing rsschool tasks";
    margin-left: -725px;
}

#slide4:checked~.slider-dot-control label:nth-child(4)::after{
    content: "recognize yourself";
    margin-left: -763px;
}

#slide1:checked~.slider-dot-control label:nth-child(1):hover,
#slide2:checked~.slider-dot-control label:nth-child(2):hover,
#slide3:checked~.slider-dot-control label:nth-child(3):hover,
#slide4:checked~.slider-dot-control label:nth-child(4):hover{
    box-shadow: 0px 0px 1px 2px #fff inset;
}

#slide1:checked~.slider-wrapper .inner{
    margin-left:0;
}

#slide2:checked~.slider-wrapper .inner{
    margin-left:-100%;
}

#slide3:checked~.slider-wrapper .inner{
    margin-left:-200%;
}

#slide4:checked~.slider-wrapper .inner{
    margin-left:-300%;
}

@media screen and (max-width: 375px){
    img {
        height: 22.625em;
    }

    .slider-dot-control{
        justify-content: center;
        margin-top: 2em;
    }

    label::after {
        margin-top: 3.2em;
        margin-left: 0;
    }

    label:nth-child(3):after {
        margin-left: -85px;
    }

    label:nth-child(4):after {
        margin-left: -115px;
    }

    #slide1:checked~.slider-dot-control label:nth-child(1)::after{
        content: "futile hopes";
        margin-left: -114px;
        width: 100px;
    }

    #slide2:checked~.slider-dot-control label:nth-child(2)::after{
        content: "life is tough";
        margin-left: -153px;
        width: 100px;
    }

    #slide3:checked~.slider-dot-control label:nth-child(3)::after{
        content: "me completing rsschool tasks";
        margin-left: -193px;
        width: 250px;
    }

    #slide4:checked~.slider-dot-control label:nth-child(4)::after{
        content: "recognize yourself";
        margin-left: -230px;
        width: 200px;
    }
}